# Logs
logs
*.log
npm-debug.log*
.next/
# Dependency directory
**/node_modules/**
node_modules

dist
dist-ssr
out
build
**/buil
tsconfig.tsbuildinfo

__generated__
*.env
.idea
*.vsix
storybook-static
## Panda
styled-system
styled-system-static
panda
panda-static

!packages/studio/styled-system
packages/studio/src/lib/analysis.json

# Cache
.npm
.cache
.eslintcache
.turbo

# Mac files
.DS_Store

# Local Netlify folder
.netlify